.tmg-close-button { 
  transition: all .2s ease-in-out; 
}

.tmg-close-button:hover { 
  transform: scale(1.1); 
}

#tmg-widget-close-button[type="checkbox"] {
    content: url('tmg-close-button-white.png');
    appearance: none;
    display: none;
    height: 45px;
}

#tmg-widget-close-button[type="checkbox"]:checked {
    content: none;
} 
